.verify-popup {
    z-index: 50;
}

.popup-container {
    width: 90%;
    max-width: 500px;
}

.close-btn {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.popup-bg {
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.success-container {
    width: 90%;
    max-width: 500px;
}

.success-bg {
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
